form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    top: 50%;
}

label{
    padding-bottom: 10px;
}

input{
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid black;
}

.prediction{
    position: absolute;
    margin-top: 20vh;
}

.links>button{
    margin: 10px;
}